In [2]:
import pandas as pd

In [3]:
# загрузка данных
data = pd.read_parquet("data/train_ver2.parquet")

In [4]:
data.drop('ult_fec_cli_1t', axis=1, inplace=True)
data.drop('conyuemp', axis=1, inplace=True)
data = data[~data['ind_empleado'].isna()]
data['ind_empleado'].replace({'S': 'P'}, inplace=True)
data['sexo'].fillna('V', inplace=True)
data['indrel_1mes'].replace({'1.0': '1', '2.0': '2', '3.0': '3', '4.0': '4'}, inplace=True)
data['indrel_1mes'].fillna('N', inplace=True)
data['tiprel_1mes'].fillna('N', inplace=True)
data['canal_entrada'].fillna('KHE', inplace=True)
data['cod_prov'].fillna(28.0, inplace=True)
data['nomprov'].fillna('MADRID', inplace=True)
data['renta'].fillna(data['renta'].median(), inplace=True)
data['segmento'].fillna('02 - PARTICULARES', inplace=True)
data['segmento'].replace({'01 - TOP': 'TOP', '02 - PARTICULARES': 'PARTICULARES', '03 - UNIVERSITARIO': 'UNIVERSITARIO'}, inplace=True)
data = data[~data['ind_nomina_ult1'].isna()]
data.drop('tipodom', axis=1, inplace=True)
q = data['renta'].quantile(0.97)
data = data[data['renta'] < q]
data['age'] = data['age'].astype(int)
data['antiguedad'] = data['antiguedad'].astype(int)
data['fecha_dato'] = pd.to_datetime(data['fecha_dato'], format='%Y-%m-%d')
data['fecha_alta'] = pd.to_datetime(data['fecha_alta'], format='%Y-%m-%d')

In [5]:
data.to_parquet('data/preprocessed_data.parquet')

In [6]:
data.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13210777 entries, 0 to 13647308
Data columns (total 45 columns):
 #   Column                 Dtype
---  ------                 -----
 0   fecha_dato             datetime64[ns]
 1   ncodpers               int64
 2   ind_empleado           object
 3   pais_residencia        object
 4   sexo                   object
 5   age                    int64
 6   fecha_alta             datetime64[ns]
 7   ind_nuevo              float64
 8   antiguedad             int64
 9   indrel                 float64
 10  indrel_1mes            object
 11  tiprel_1mes            object
 12  indresi                object
 13  indext                 object
 14  canal_entrada          object
 15  indfall                object
 16  cod_prov               float64
 17  nomprov                object
 18  ind_actividad_cliente  float64
 19  renta                  float64
 20  segmento               object
 21  ind_ahor_fin_ult1      int64
 22  ind_aval_fin_ult1      int64
 23  ind_cco_fin_ult1       int64
 24  ind_cder_fin_ult1      int64
 25  ind_cno_fin_ult1       int64
 26  ind_ctju_fin_ult1      int64
 27  ind_ctma_fin_ult1      int64
 28  ind_ctop_fin_ult1      int64
 29  ind_ctpp_fin_ult1      int64
 30  ind_deco_fin_ult1      int64
 31  ind_deme_fin_ult1      int64
 32  ind_dela_fin_ult1      int64
 33  ind_ecue_fin_ult1      int64
 34  ind_fond_fin_ult1      int64
 35  ind_hip_fin_ult1       int64
 36  ind_plan_fin_ult1      int64
 37  ind_pres_fin_ult1      int64
 38  ind_reca_fin_ult1      int64
 39  ind_tjcr_fin_ult1      int64
 40  ind_valo_fin_ult1      int64
 41  ind_viv_fin_ult1       int64
 42  ind_nomina_ult1        float64
 43  ind_nom_pens_ult1      float64
 44  ind_recibo_ult1        int64
dtypes: datetime64[ns](2), float64(7), int64(25), object(11)
memory usage: 4.5+ GB

In [8]:
data.isna().sum()

fecha_dato               0
ncodpers                 0
ind_empleado             0
pais_residencia          0
sexo                     0
age                      0
fecha_alta               0
ind_nuevo                0
antiguedad               0
indrel                   0
indrel_1mes              0
tiprel_1mes              0
indresi                  0
indext                   0
canal_entrada            0
indfall                  0
cod_prov                 0
nomprov                  0
ind_actividad_cliente    0
renta                    0
segmento                 0
ind_ahor_fin_ult1        0
ind_aval_fin_ult1        0
ind_cco_fin_ult1         0
ind_cder_fin_ult1        0
ind_cno_fin_ult1         0
ind_ctju_fin_ult1        0
ind_ctma_fin_ult1        0
ind_ctop_fin_ult1        0
ind_ctpp_fin_ult1        0
ind_deco_fin_ult1        0
ind_deme_fin_ult1        0
ind_dela_fin_ult1        0
ind_ecue_fin_ult1        0
ind_fond_fin_ult1        0
ind_hip_fin_ult1         0
ind_plan_fin_ult1        0
ind_pres_fin_ult1        0
ind_reca_fin_ult1        0
ind_tjcr_fin_ult1        0
ind_valo_fin_ult1        0
ind_viv_fin_ult1         0
ind_nomina_ult1          0
ind_nom_pens_ult1        0
ind_recibo_ult1          0
dtype: int64